
@media only screen and (max-width: 600px) {
    p {
      font-family: Arial;
      font-size: 36px;
      color: blue;
    }
  }
  @media only screen and (min-width: 600px) {
    p {
      font-family: arial;
      font-size: 36px;
      color: blue;
    }
  }
  @media only screen and (max-width: 350px) {
    p {
      font-family: Helvetica ;
      font-size: 24px;
      color: red;
    }
  }

  @media only screen and (max-width: 100px) {
    p {
      font-family: Courier;
      font-size: 18;
      color: purple;
    }
  }